
@{
    ViewBag.Title = "GetInfoSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>GetInfoSV</h2>
@using (Html.BeginForm())
{
    <div>Nhập tên</div><input type="text" name="Ten" />
    <div>Nhập tuổi</div><input type="text" name="Tuoi" />
    <div>Nhập lớp</div><input type="text" name="Lop" /><br/><br />
    <input type="submit" value="Thêm thông tin sinh viên:" />
}
<h3>Thông tin sinh viên:</h3>
<h4>Họ và tên: @ViewBag.Ten</h4>
<h5>Lớp: @ViewBag.Lop</h5>
<h4>Tuổi: @ViewBag.Tuoi</h4>
