
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giai phuowng trinh bac 1</h2>
@using (Html.BeginForm("GiaiPhuongTrinhBac1","GiaiPhuongTrinh"))
{
    <p>So thu nhat</p>
    <input type="number" name="Sothunhat" />
    <p>So thu hai</p>
    <input type="number" name="Sothuhai" />
    <button>Giai phuong trinh</button>
}



